/* Higher Desktop */

@media (min-width: 1281px) {
  .mat-card {
    width: 40%;
    margin: 2rem auto;
  }
}

/* Laptop, Desktop */

@media (min-width: 1025px) and (max-width: 1280px) {
  .mat-card {
    width: 40%;
    margin: 2rem auto;
  }
}

/* Tablets, Ipad */

@media (min-width: 768px) and (max-width: 1024px) {
  .mat-card {
    width: 50%;
    margin: 2rem auto;
  }
}

/* Mobiles */

@media (min-width: 320px) and (max-width: 480px) {
  .mat-card {
    width: 100%;
    margin: 2rem auto;
  }
}

.mat-card .mat-card-actions {
  padding-top: 0;
}

.mat-card .mat-button {
  margin: 0 auto;
  display: block;
}
